<div class="col-md-offset-3 col-md-6">
    <h2 class="text-center">The Basics | Who are you?</h2>"

    <div class="form-group">
        <label for="name">Your Name</label>
        <input id="name" class="form-control" placeholder="Your name" type="text" />
    </div>

    <div class="form-group">
        <label for="email">Your Email</label>
        <input id="email" class="form-control" placeholder="email" type="email" />
    </div>

    <div class="form-group">
        <label for="phone">Your Name</label>
        <input id="phone" class="form-control" placeholder="Your phone number" type="phone" />
    </div>

    <a class="btn btn-primary" [routerLink]="['/create-meal-list/step-2']">
        Next Step <span class='glyphicon glyphicon-arrow-right'></span>
    </a>
</div>

